* {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  /* overflow-x: hidden; */
}

body {
  font-family: poppins;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3rem;
  padding: 10px 0;
  width: 100%;
}

.left {
  font-weight: 500;
  font-size: 2.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
}
nav ul li a,
a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  font-size: 1.2rem;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first .leftSection {
  margin-bottom: 0;
  width: 50%;
  font-size: 3rem;
}
.first .rightSection {
  /* background-color: rgb(23, 80, 131); */
  margin: 0rem 1.2rem;
}

section {
  padding: 2rem;
}

.second {
  max-width: 80vw;
  margin: auto;
}
main hr {
  margin: 3rem;
  height: 1px;
  border: 0;
}

.notice {
  margin: 2rem;
  color: rgb(179, 179, 179);
  font-style: italic;
}

.section {
  max-width: 80vw;
  margin: auto;
}
.section h1 {
  font-size: 2rem;
}

.about-text,
.section {
  margin: 1rem;
}
.section li {
  margin: 1rem;
}

.third h2 {
  margin: 1rem;
}
.third ul {
  margin: 0 1rem;
  display: flex;
}

.footer-div {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0 0;
  color: white;
  width: 100vw;
}
.footer-div div {
  margin: 0.5rem 1rem;
  width: 20%;
  display: flex;
  justify-content: center;
}

.footer-div li {
  list-style: none;
  padding: 1%;
}
.footer-div li a {
  list-style-type: none;
  text-decoration: none;
}

footer .copyright {
  font-size: smaller;
  text-align: center;
}

footer h1 {
  font-size: 1.5rem;
}

.footer-div h1,
.footer-div ul {
  width: 70%;
}

.btn {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn > button {
  margin: 2rem;
  font-size: large;
  font-family: poppins;
  padding: 0.8rem;
  border-radius: 10px;
}

.first-footer {
  width: 10%;
}
.footer-content {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 500px) {
  .first {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .first .leftSection {
    font-size: 2rem;
    min-height: 20rem;
  }
  .footer-div {
    justify-content: center;
    margin: 0;
    pad: 0;
  }

  .footer-div .first-footer,
  .first-footer h1 {
    width: 90%;
    text-align: center;
  }

  .second-footer,
  .third-footer,
  .fourth-footer {
    justify-content: center;
  }
  img {
    width: 90%;
  }
  .rightSection {
    padding: 0;
    margin: 0;
  }
}
